$brightText: #fff;
$darkText: #262626;
$headerThemeColor: #5474fd;
$BGContentColor: #333;
$alternateBGContentColor: #232323e1;
$footerBG: #232323;
$containerWidth: 1110px;
$defaultIndent: 15px;
$transformHover: scale(1.1);
$transformClick: scale(0.85);
$fontWebTitle: 'Josefin Sans', sans-serif;
$fontMainTitle: 'Aleo', serif;
$buttonBackground: linear-gradient(45deg ,#496bfe 37%, $headerThemeColor 37%);
$buttonShadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
$buttonMinWidth:160px;
$buttonWidth:20vw;
$buttonMaxWidth:225px;
$buttonMinHeight:35px;
$buttonHeight:7vh;
$buttonMaxHeight:55px;
$colorSearch-bg: $headerThemeColor;
$colorSelect: #FF6363;
$colorEnjoy: #00a2ff;