@import 'fonts';
@import 'variables';
@import 'mixins';

*,*::after, *::before, *:hover {
    transition: all .15s ease-in;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth 
}

body{
    @include fontAll($fontWebTitle,1.58, 300, 16px);
	color:  $brightText;
    padding: $defaultIndent;
    letter-spacing: 1px;
    @include mediaFont(16px,15px,14px,14px);
}

h1, h2, h3 {
    font-family:  $fontWebTitle;
    font-weight: 600;
}

h1 {
	font-size: 48px;
    @include mediaFont(45px,42px,38px,35px);
}
h2 {
	font-size: 36px;
    @include mediaFont(34px,32px,29px,26px);
}
h3 {
    font-size: 20px;
    @include mediaFont(19px,18px,17px,16px);
}

.title {
    @include fontNoFam(3,300,none);
}

.main-title {
    @include fontAll($fontMainTitle,3,300,none);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $brightText;
    position: relative;
    &:active {
        color: $brightText;
    }
    &:visited {
        color: $brightText;
    }
}
.button,
button{
    @include allWH($buttonMinWidth,$buttonMinHeight,$buttonWidth, $buttonHeight,$buttonMaxWidth, $buttonMaxHeight);
    font-family: $fontMainTitle;
    border: none;
    outline: none;
    text-align: center;
    background: $buttonBackground;
    text-transform: uppercase;
    color: #fff;
    a {
        @include dsFlex(center, center, none);
        height: 100%;
        &:hover {
            color: $darkText;
        }
        &:active {
            transform: $transformClick;
        }
    }
    &:hover {
        cursor: pointer;
        color: $darkText;
        border: 5px inset #5474fd;
        border-radius: 5px;
        .icons {
            fill: $darkText;
        }
    }
    
}

.container{
    @include maxWH($containerWidth + $defaultIndent*2,100%);
	padding: 0 $defaultIndent;
    margin: 0 auto;
}

.icons  {
    display: block;
    @include WH (100%,100%);
    &_search {
        fill: $brightText;
        @include maxWmaxH (20px,22px);
    }
    &_down {
        fill: $brightText;
        @include maxWmaxH (15px,9px);
    }
    &_arc {
        @include maxWmaxH(776.5px,97.5px);
    }
    &_search-bg,
    &_select,
    &_enjoy {
        @include pos(absolute,0,none,none,none);
        z-index: 1;
        @include maxWmaxH (60px,60px);
    }
    &_search-bg{
        fill: $colorSearch-bg;
    }
    &_select{
        fill: $colorSelect;
    }
    &_enjoy{
        fill: $colorEnjoy;
    }
    &_quotes{
        @include maxWmaxH (40px,50px);
        fill: $headerThemeColor;
        float: left;
    }
}

.intro {
    line-height: 1.1;
    .website-title{
        text-align: center;
        letter-spacing: 2px;
    }
    span {
        font-size: 22px;
        @include mediaFont(20px,17px,14px,12px);
        display: block;
        text-align: center;
        letter-spacing: 5.5px;
    }
}

.header {
    height: calc(100vh - 15px);
}

.header,
.book-algor,
.footer {
    user-select: none;
}
/* <<<<<<<=======================HOME=======================>>>>>>> */
.home {
    height: 90%;
    @include BG(url(../img/bg_home.jpg), no-repeat, 50%, cover);
    &__container{
        @include dsFlex(center,none,column);
        position: relative;
        padding: 20vh $defaultIndent 10vh $defaultIndent;
    }
    .form{
        @include dsFlex(none,space-between,none);
        @include WmaxW(100%, 650px);
        border: 2px solid $brightText;
        margin-top: 50px;
        &__searh-text {
            width: 100%;
            text-align: center;
            border: none;
            &:focus{
                outline: none;
                border:  5px inset $headerThemeColor;
                &::placeholder {
                    color: transparent;
                }
            }
        }
        &__button {
            display: inline-block;
            height: 60px;
            @include dsFlex(center,space-evenly,none);
            @include WmaxW(30%, 150px);
            min-width: 0;
            @include fontAll($fontMainTitle,none,300,13px);
            background: $headerThemeColor;
            padding: 0 12px 0 34px;
            @media screen and (max-width: 576px) {
                padding: 0;
                svg {
                    display: none;
                }
            }
            &:active span,
            &:active svg{
                transform: $transformClick;
            }
            &:active svg{
                margin-right: 10px;
            }
        }
    }
    &__scroll {
        letter-spacing: 2px;
        height: 100%;
        @include dsFlex(center,none,none);
        &:hover a {
            color: $darkText;
            transform: $transformHover;
            .icons {
                fill: $darkText;
            }
        }
        &:active {
            transform: $transformClick;
        }
    }
    &__scroll a{
        @include dsFlex(center,center,column);
    }
}

/* <<<<<<<=======================HOME=======================>>>>>>> */
/* <<<<<<<=======================NAVIGATION=======================>>>>>>> */
.navigation{
    height: 10%;
    background: $headerThemeColor;
    &__container{
        @include dsFlex(center,space-between,none);
        .title {
            font-size: 24px;
            letter-spacing: 2px;
            @include mediaFont(22px,20px,18px,17px);
        }
    }
}
.nav__burger{
    display: none;
}
.menu {
    @include dsFlex(center,space-around,none);
    @include fontAll($fontMainTitle,none,300,14px);
    font-size: 14px;
    letter-spacing: 1px;
    width: ($containerWidth/2) - $defaultIndent;
    text-transform: uppercase;
    @media screen and (max-width: 1200px) {
        font-size: 13px;
        width: 470px;
    }
    @media screen and (max-width: 992px) {
        font-size: 12px;
    }
    a:hover {
        color: $darkText;
    }
}
/* <<<<<<<=======================BURGER=======================>>>>>>> */
@media screen and (max-width: 768px) {
    .navigation__container{
        justify-content: center;
        position: relative;
    }
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        width: 80%;
        @include pos(absolute,none,500%,9.75vh,none);
        font-size: 14px;
        @media screen and (max-width: 576px){
            grid-template-columns: 1fr;
        }
        &__item {
            width: 100%;
            padding: 10px 10px;  
            text-align: center;
            background: $headerThemeColor;   
            position: relative;
            &:nth-child(1){
                border-top-left-radius: 25px;
                @media screen and (max-width: 576px){
                    border-radius: 25px 25px 0 0;
                }
            }
            &:nth-child(2){
                border-top-right-radius: 25px;
                @media screen and (max-width: 576px){
                    border-top-right-radius: 0px;
                }
            }
        }
        &__link {
            color: $brightText;
            &:hover {
                color:$darkText;
            }
        }
    }

    .nav__burger-img {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        @include WH(30px,2px);
        background: $brightText;
        margin-bottom: 5px;
        &::before,
        &::after {
            content: '';
            @include pos(absolute,-7px,none,none,none);
            @include WH(30px,2px);
            background: $brightText;
        }
        &::after {
            top: 7px;
        }
    }
    .nav__burger:checked ~ .nav__burger-img {
        transform: rotate(45deg);
    }
    .nav__burger:checked ~ .nav__burger-img:before{
        opacity: 0;
    }
    .nav__burger:checked ~ .nav__burger-img:after {
        transform: translateY(-7px) rotate(-90deg);
    }
    .nav__burger:checked ~ .menu {
        right: -30%;
        transform: translateX(-50%);
    }
}
/* <<<<<<<=======================BURGER=======================>>>>>>> */
/* <<<<<<<=======================NAVIGATION=======================>>>>>>> */
/* <<<<<<<=======================WHY-US=======================>>>>>>> */
.why-us {
    @include BG(url(../img/bg-choose.png), no-repeat, 50%, cover);
    &__container {
        @include dsFlex(center, none, none);
        padding: 12vh $defaultIndent;
    }
    &__content {
        flex-grow: 1;
        max-width: ($containerWidth/2) - $defaultIndent;
        margin-right: $defaultIndent*6;
        .content__text {
            line-height: 1.8;
            margin-bottom: 30px;
        }
    }
    &__gallery {
        width: 50%;
        .gallery__img_right {
            @include dsFlex(center, flex-end, none);
        }
    }
}

@media screen and (max-width: 1200px){
    .why-us{   
        &__container {
            flex-direction: column;
            .gallery {
                @include dsFlex(none, center, none);
                width: fit-content;
                flex-wrap: wrap;
                &__img{
                    @include dsFlex(none, center, none);
                    margin: 10px;
                }
            }
        }
        &__content {
            margin: 0 0 30px 0;
            text-align: center;
            .button {
                margin: 0 auto;
            }
        }
        
    }
}
/* <<<<<<<=======================WHY-US=======================>>>>>>> */
/* <<<<<<<=======================BOOKING ALGORYTHM=======================>>>>>>> */
.book-algor {
    background: $BGContentColor;
    &__container{
        padding: 12vh $defaultIndent;
        @include dsFlex(none, space-evenly, none);
        flex-wrap: wrap;
        position: relative;
        .icons_arc {
            @include pos(absolute,28%,none,none,none);
            width: 57%;
            transform: translateY(-50%);
            z-index: 0;
            @media screen and (max-width: 768px){
                display: none;
            }
        }
        .block {
            position: relative;
            @include dsFlex(center, center, column);
            &__empty {
                @include pos(absolute,0,none,none,none);
                background: $BGContentColor;
                @include WH(60px, 60px);
                z-index: 1;
            }
            &__title {
                padding-top: 60px;
            }
        }
    }
    &__dots {
        position: absolute;
        width: 100%;
    }
}
/* <<<<<<<=======================BOOKING ALGORYTHM=======================>>>>>>> */
/* <<<<<<<=======================COUNTRY=======================>>>>>>> */

.country {
    .container {
        display: flex;
        padding: 24vh $defaultIndent 12vh $defaultIndent;
        .content {
            background: $alternateBGContentColor;
            width: ($containerWidth/2) - $defaultIndent;
            padding: 40px 30px 50px 30px;
            letter-spacing: 0px;
            @media screen and (max-width: 375px) {
                @include dsFlex(center, center, column);
            }
            &__name {
                @include fontNoFam(2,300,none);
            }
            &__button {
                margin-top: 40px;
            }
            &__text {
                word-spacing: -1px;
                letter-spacing: -0.5px;
            }
        }
    }
    &-first {
        @include BG(url(../img/bg_house.jpg), no-repeat, 50%, cover);
    }
    &-second {
        @include BG(url(../img/bg_rocks_water.jpg), no-repeat, 50%, cover);
        &__container{
            justify-content: flex-end;
        }
    }
}

/* <<<<<<<=======================COUNTRY=======================>>>>>>> */
/* <<<<<<<=======================FEEDBACK=======================>>>>>>> */

.feedback {
    @include BG(url(../img/bg_man.jpg), no-repeat, 50%, cover);
    &__container {
        padding: 10vh $defaultIndent 18vh $defaultIndent;
        @include dsFlex(center, center, column);
        .main-title {
            @media screen and (max-width: 376px){
                text-align: center;
            }
            margin-bottom: 60px;
        }
    }
    .grid {
        @include dsFlex(center, center, none);
        @media screen and (max-width: 992px){
            flex-wrap: wrap;
        }
        background: $BGContentColor;
        &__img {
            object-fit: contain;
        }
        &__content {
            height: 100%;
            padding: 30px 50px 30px 60px;
            @media screen and (max-width: 376px){
                padding: 30px 10px 30px 10px;
            }
            .text {
                word-spacing: -1px;
                letter-spacing: -0.5px;
                margin-top: 40px;
            }
        }
        
    }
}

/* <<<<<<<=======================FEEDBACK=======================>>>>>>> */
/* <<<<<<<=======================FOOTER=======================>>>>>>> */

.footer {
    background: $footerBG;
    &__container {
        padding: 10vh $defaultIndent 5vh $defaultIndent;
        @include dsFlex(center, center, column);
        .intro {
            
            &__title{
                font-size: 24px;
            }
            span {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 2.5;
                margin-bottom: 15px;
            }
            .social {
                @include dsFlex(center, space-between, none);
                &__link:hover {
                    color: $colorSearch-bg;
                }
            }
        }
    }
}

/* <<<<<<<=======================FOOTER=======================>>>>>>> */

@media screen and (max-width: 576px){
    body {
        padding: 0;
    }
    img {
        width: 100%;
    }
}